---
import ProductHome from '~/components/functional/ProductHome';
import Breadcrumb from '~/components/widgets/Breadcrumb.astro';
import Layout from '~/layouts/PageLayout.astro';
import ApiService from '~/services/ApiService';

const metadata = {
  title: 'Products',
  items: [],
};

// Brand
const brandData = await ApiService.getBrands();
const brands = brandData.list;

// Category
const categoryData = await ApiService.getCategories();
const cat = categoryData.list;
---

<Layout metadata={metadata}>
  <Breadcrumb>
    Home
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4 inline"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
    </svg>
    <span class="text-gray-900">Products</span>
  </Breadcrumb>

  <!-- component -->
  <div class="w-full px-10 xl:container xl:mx-auto pb-20">
    <ProductHome categories={cat} brands={brands} client:only="react" />
  </div>
</Layout>
