---
import Img from '~/components/common/Img.astro';

const bannerImg = '~/assets/images/slide1.png';
const slides = [
  {
    id: 1,
    image: bannerImg,
    title: 'Noti Correction Pen',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.',
  },
  {
    id: 2,
    image: bannerImg,
    title: 'Noti Correction Pen',
    description:
      'Consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.',
  },
  {
    id: 3,
    image: bannerImg,
    title: 'Noti Correction Pen',
    description:
      'Adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.',
  },
];
---

<div class="w-full relative">
  <div class="slider w-full bg-gray-400">
    <div class="slides">
      {
        slides.map((slide) => (
          <div class="slide min-w-[100%] mr-0 rounded">
            <Img src={slide.image} alt="" class:list={'w-full object-contain'} />
            <div class="top-1/3 absolute w-full hidden md:block" style="z-index: 3;">
              <div class="max-w-sm mx-auto bg-white p-8 rounded-md drop-shadow">
                <span class="text-gray-700 text-xs block bg-opacity-0 mb-1">Featured</span>
                <span class="text-gray-700 font-bold text-xl block bg-opacity-0">{slide.title}</span>
                <span class="text-gray-700 text-xs block bg-opacity-0 mt-2">{slide.description}</span>

                <a
                  href=`/product-detail?product=${slide.id}`
                  target="_blank"
                  class="inline-block text-center px-3 py-2.5 rounded bg-third-900 text-white font-bold text-xs mt-5 mx-auto cursor-pointer hover:bg-primary-600"
                >
                  View Item
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <button class="prev" onclick="prevSlide()">&#10094;</button>
    <button class="next" onclick="nextSlide()">&#10095;</button>
  </div>
</div>

<script>
  let currentIndex = 0;

  function showSlide(index) {
    const slides = document.querySelector('.slides');
    const totalSlides = document.querySelectorAll('.slide').length;

    if (index >= totalSlides) {
      currentIndex = 0; // Loop back to the first slide
    } else if (index < 0) {
      currentIndex = totalSlides - 1; // Loop back to the last slide
    } else {
      currentIndex = index;
    }

    slides.style.transform = `translateX(-${currentIndex * 100}%)`;
  }

  function nextSlide() {
    showSlide(currentIndex + 1);
  }

  setInterval(() => {
    nextSlide();
  }, 3000);
</script>

<style>
  /* Slider */
  .slider {
    position: relative;
    overflow: hidden;
    margin: auto;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
  }

  /* Navigation buttons */
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
</style>
